# Top-level EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_property-naming = disabled
