<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.msoula.hobbymatchmaker</string>

    <key>CFBundleName</key>
    <string>HobbyMatchMaker</string>

    <!-- Google Sign-In -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.115887741528-ff6biilcrnmme0akho17b8egb3nc0iuh</string>
            </array>
        </dict>
    </array>

    <!-- Firebase -->
    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>

    <!-- Network -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSAllowsArbitraryLoadsInWebContent</key>
        <true/>
    </dict>
    
    <!-- Apple Sign-In -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.msoula.hobbymatchmaker</string>
            </array>
        </dict>
    </array>

</dict>
</plist>
