<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>FACEBOOK_APPLICATION_API</key>
	<string>$(FACEBOOK_APPLICATION_ID)</string>
	<key>FACEBOOK_CLIENT_TOKEN</key>
	<string>$(FACEBOOK_CLIENT_TOKEN)</string>
	<key>FIREBASE_APPLICATION_ID</key>
	<string>$(FIREBASE_APPLICATION_ID)</string>
	<key>FIREBASE_API_KEY</key>
	<string>$(FIREBASE_API_KEY)</string>
	<key>WEB_CLIENT_ID</key>
	<string>$(WEB_CLIENT_ID)</string>
	<key>TMDB_KEY</key>
	<string>$(TMDB_KEY)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>HobbyMatchMaker</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.msoula.hobbymatchmaker</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
</dict>
</plist>
