<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FACEBOOK_APPLICATION_API</key>
	<string>$(facebook_application_api)</string>
	<key>FACEBOOK_CLIENT_TOKEN</key>
	<string>$(facebook_client_token)</string>
	<key>FIREBASE_APPLICATION_ID</key>
	<string>$(firebase_application_id)</string>
	<key>FIREBASE_API_KEY</key>
	<string>$(firebase_api_key)</string>
	<key>WEB_CLIENT_ID</key>
	<string>$(web_client_id)</string>
	<key>TMDB_KEY</key>
	<string>$(tmdb_key)</string>
	<key>CFBundleIdentifier</key>
	<string>com.msoula.hobbymatchmaker</string>
	<key>CFBundleName</key>
	<string>HobbyMatchMaker</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.msoula.hobbymatchmaker</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
</dict>
</plist>
